.greenBackground {
    background-color: green;
}

.redBackground {
    background-color: red;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.topdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crtAswShow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.crtAsw {
    margin-right: 10px;
}

.crtAswShowText {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    position: absolute;
    left: 80px;
}

.rstImgShow {
    position: relative;
    width: 90%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 40px;
}

.rstImg {
    position: absolute;
    width: 70%;
    border-radius: 20px;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

.wrgAswShow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.wrgAswDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrgAswShowText {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    position: absolute;
    left: 80px;
}

.quoteShow {
    width: 390px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe0b2;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}

.quoteText {
    font-size: 20px;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    position: relative;
}

/* Style for the continue button */
.cntButton {
    background-color: #ffd700; /* Yellow */
    color: #333333; /* Dark text for contrast */
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cntButton:hover {
    background-color: #ffc107; /* Darker yellow on hover */
}
